---
import MainLayout from "../layouts/MainLayout.astro";
import HeroCard from "../components/HeroCard.astro";

const socialLinks = [
  { icon: 'fa-brands fa-github', url: 'https://github.com/EngJurado', label: 'Follow me on GitHub' },
  { icon: 'fa-brands fa-linkedin', url: 'https://www.linkedin.com/in/engjurado/', label: 'Follow me on LinkedIn' },
  { icon: 'fa-brands fa-telegram', url: 'https://telegram.me/engjurado', label: 'Talk to me on Telegram' },
  { icon: 'fa-brands fa-whatsapp', url: 'https://wa.me/qr/Y57EJ6RVNLYQI1', label: 'Talk to me on WhatsApp' },
  { icon: 'fa-brands fa-x-twitter', url: 'https://x.com/EngJurado', label: 'Follow me on Twitter/X' }
];

---

<MainLayout>
  <div class="min-vh-100 d-flex align-items-center justify-content-center">
    <HeroCard
      title="Carlos Jurado"
      text="I'm a bioengineer with a master's in AI, deeply focused on neuromodulation, particularly in DBS. I also serve on the Board of Directors for the Colombian Society of Neuromodulation."
      socialLinks={socialLinks}
    />
  </div>

</MainLayout>
